[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-script = "*"
pyjwt = "*"
werkzeug = "*"
flask-cors = "*"
pymysql = "*"
python-dotenv = "*"
django-timedeltafield = "*"
flask-jwt-extended = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python app.py runserver"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
downgrade = "flask db downgrade"
